* {
	box-sizing: border-box;
}
/*Navbar*/

/*Carousel*/
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
}